.rating {
  
  &__title {
    text-align-last: left;
  }
  width: 1200px;
  margin: 0 auto;
  height: 700px;
  margin-bottom: 200px;
  &__container {
    width: 1200px;
    &::-webkit-scrollbar {
      width: 1px;
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 1px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 1px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    display: flex;
    overflow-x: scroll;

    .count__list, .rating__user, .rating__total  {
      display: flex;
      flex-direction: column; 
      
    }

    .head, .end , .end p{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: rgba(37, 42, 59, 1);
      font-size: 13px;
      font-weight: 600;
      height: 50px !important;
      background-color: aqua;
      cursor: pointer;
    }
  }
}