@import '../../constants/constants.scss';
.btn {
  width: 216px;
  height: 60px;
  color: #fff;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  background-color: $secondary-color;
}