@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../constants/constants.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: $main-color; 
  margin-bottom: 50px; 
}